# Ignore local virtual environment
venv/
.venv/

# Ignore reference baseline codes
(G)*

# Ignore practice scratchpad scripts
test.py
test_setup.py
boolean.py
learning_arrays.py
project.py
step2_numpy_basics.py
step4_simulation_project.py
vector_multiconditioning.py